.flex-box {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 10px;
  color: white;
  font-size: 20px;
  position: relative;
}
.flex-box3 {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.flex-box2 {
  width: 400px;
  height: 400px;
  background-color: rgb(133, 133, 133);
  margin: 10px;
  color: white;
  font-size: 20px;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.container2 {
  display: flex;
}

.d-flex-c {
  display: flex;
  justify-content: center;
}

.d-flex-e {
  display: flex;
  justify-content: end;
}

.p-a {
  position: absolute;
  left: calc(50% - 200px); /*요소의 크기를 알때*/
}

.p-a2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /*요소의 크기를 모를때*/
}

.p-a3{
    position: absolute;
    left: 50%;
    top: 50%;
}

.flex-box4{
    width: 550px;
    height: 300px;
    background-color: gray;
    position: absolute;
    right: 0;
}

.p-a4{
    margin: 0;
    position: absolute;
    top: 0;
}

.p-a5{
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
