/* 모든 <h1> 태그에 글씨색 #9b59b6 주기
모든 <p> 태그에 글씨크기 16px, 글씨체 Verdana, 글씨 스타일 italic 주기
sub-header 글씨색 #2980b9 주기

<p> 태그 첫번째 글씨만 200% 키우고 색깔 #2980b9 주기
참고 : https://www.w3schools.com/cssref/sel_firstletter.asp

모든 <h1>태그 전에 Topic: 붙이기
참고: https://www.w3schools.com/cssref/sel_before.asp

보너스🚀 노트스타일의 뒷 배경 주기
참고: http://projects.verou.me/css3patterns/

전체 내용을 안으로 10% 정도 들여쓰기
보너스🚀 첫번째 <h1> 태그만 글자 가운데정렬 하기
참고: https://www.w3schools.com/cssref/sel_firstchild.asp */

.challenge2 h1{
    color: #9b59b6;
}
.challenge2 p{
    font-size: 16px;
    font-family: Verdana;
    font-style: italic;
}
.sub-header{
    color: #2980b9 ;
}

.challenge2 p::first-letter{
    font-size: 200%;
    color: #2980b9;
}

.challenge2 h1::before{
    content: "바보~: ";
}

.challenge2{
    padding-left: 10%;
}

.challenge2 :first-child{
    text-align: center
}

.challenge2 h1:nth-of-type(2){
    text-align: right;
}