* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style: none;
}
.nav2 {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav2 img {
  width: 132px;
  max-height: 70px;
}
.nav2 a {
  padding: 28px 17px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.main2 {
  height: 700px;
  background-color: rgb(41, 65, 171);
  background-image: url("../img/spotify-header-lg.png");
  background-size: 135%;
  background-position: 20% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: #1ed760;
}

.main-container {
}

.headline {
  font-size: 156px;
  font-weight: 900;
  color: #1ed760;
  position: relative;
  left: 25%;
  padding-bottom: 40px;
}

.headline div:first-child {
  position: relative;
  left: -2.5em;
}

.sub-headline {
  color: #1ed760;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}

.button-area {
  text-align: center;
}

.btn2 {
  padding: 14px 32px;
  border-radius: 25px;
  background-color: #1ed760;
  font-weight: bolder;
  border: 1px solid black;
}

.btn2:hover {
  transform: scale(1.1);
}
.footer2 {
  height: 440px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box2{
    width: 150px;
  height: 112px;
  position: relative;
}
.img-box2 img{
  width: 100%;height: 100%;
  position: absolute;
  top: -30px;
}

.footer2-img img{
    width: 35px;height: 35px;
    margin: 5px;
}
.footer-1{
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}
.footer-2{
    display: flex;
    justify-content: space-between;
}

.footer-3{
    display: flex;
}

.footer-3 ul{
    margin: 10px;
}

.footer-3 ul li{
    margin: 15px;
}
.footer-4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-4 span{
    padding: 4px;
    margin-left: 10px;
}
.footer-5{
    display: flex;
    justify-content: space-between;
}
.footer-5 span{
    margin-left: 10px;
    padding: 4px;
}